## PythonAdvancedProgramming_20

### Question 1
    1. Create a function based on the input and output. Look at the examples, there is a pattern.

    Examples

    secret("p.one.two.three") ➞ "<p class='one two three'></p>"

    secret("p.one") ➞ "<p class='one'></p>"

    secret("p.four.five") ➞ "<p class='four five'></p>"

In [7]:
def secret(s):
    s1=s.replace("."," ")[2:]
    n="<p class='str'></p> "
    n=n.replace("str",s1)
    return n

In [8]:
secret("p.one.two.three")

"<p class='one two three'></p> "

In [9]:
secret("p.one")

"<p class='one'></p> "

In [10]:
secret("p.four.five")

"<p class='four five'></p> "

### Question 2

    2. Create a function which counts how many lone 1s appear in a given number. Lone means the number doesn't appear twice or more in a row.

    Examples

    count_lone_ones(101)  ➞ 2

    count_lone_ones(1191) ➞ 1

    count_lone_ones(1111) ➞ 0

    count_lone_ones(462)  ➞ 0

In [11]:
def count_lone_ones(num):
    count=0
    lst=[int(i) for i in str(num)]
    if lst[0]==1 and lst[1]!=1:
        count+=1
    if lst[-2]!=1 and lst[-1]==1:
        count+=1
    for i in range(1,len(lst)-2):
        if lst[i]==1:
            if lst[i-1]!=1 and lst[i+1]!=1:
                count+=1
    return count

In [12]:
count_lone_ones(101)

2

In [13]:
    
count_lone_ones(1191)

1

In [14]:
count_lone_ones(1111)

0

In [31]:
count_lone_ones(462)

0

### Question 3
    3. Write a method that accepts two integer parameters rows and cols. The output is a 2d array of numbers displayed in column-major order, meaning the numbers shown increase sequentially down each column and wrap to the top of the next column to the right once the bottom of the current column is reached.

    Examples

    printGrid(3, 6) ➞ [
      [1, 4, 7, 10, 13, 16],
      [2, 5, 8, 11, 14, 17],
      [3, 6, 9, 12, 15, 18]
    ]

    printGrid(5, 3) ➞ [
      [1, 6, 11],
      [2, 7, 12],
      [3, 8, 13],
      [4, 9, 14],
      [5, 10, 15]
    ]

    printGrid(4, 1) ➞ [
      [1],
      [2],
      [3],
      [4]
    ]

In [26]:
def printGrid(rows,cols):
    
    rows,cols=cols,rows
    arr=[]
    x=1
    for i in range(rows):
        col = []
        for j in range(cols):
            col.append(x)
            x+=1
        arr.append(col)
    l2 =[[row[i] for row in arr] for i in range(len(arr[0]))]
    return l2

In [27]:
printGrid(3, 6)

[[1, 4, 7, 10, 13, 16], [2, 5, 8, 11, 14, 17], [3, 6, 9, 12, 15, 18]]

In [28]:
printGrid(5, 3)

[[1, 6, 11], [2, 7, 12], [3, 8, 13], [4, 9, 14], [5, 10, 15]]

In [29]:
printGrid(4, 1)

[[1], [2], [3], [4]]

### Question 4
    4. Given a list of integers, return the smallest positive integer not present in the list.

    Here is a representative example. Consider the list:

    [-2, 6, 4, 5, 7, -1, 7, 1, 3, 6, 6, -2, 9, 10, 2, 2]

    After reordering, the list becomes:

    [-2, -2, -1, 1, 2, 2, 3, 4, 5, 6, 6, 6, 7, 7, 9, 10]

    from which we see that the smallest missing positive integer is 8.

    Examples

    min_miss_pos([-2, 6, 4, 5, 7, -1, 1, 3, 6, -2, 9, 10, 2, 2]) ➞ 8

    # After sorting, list becomes [-2, -2, -1, 1, 2, 2, 3, 4, 5, 6, 6, 7, 9, 10]
    # So the smallest missing positive integer is 8

    min_miss_pos([5, 9, -2, 0, 1, 3, 9, 3, 8, 9]) ➞ 2

    # After sorting, list becomes [-2, 0, 1, 3, 3, 5, 8, 9, 9, 9]
    # So the smallest missing positive integer is 2

    min_miss_pos([0, 4, 4, -1, 9, 4, 5, 2, 10, 7, 6, 3, 10, 9]) ➞ 1

    # After sorting, list becomes [-1, 0, 2, 3, 4, 4, 4, 5, 6, 7, 9, 9, 10, 10]
    # So the smallest missing positive integer is 1

In [16]:
def min_miss_pos(lst):
    pos=[i for i in range(1,11)]
    for i in lst:
        if i <0:
            lst.remove(i)
    lst=list(set(pos).difference(lst))
    lst.sort()
    return lst[0]

In [17]:
min_miss_pos([-2, 6, 4, 5, 7, -1, 1, 3, 6, -2, 9, 10, 2, 2])

8

In [18]:
min_miss_pos([5, 9, -2, 0, 1, 3, 9, 3, 8, 9])

2

In [19]:
min_miss_pos([0, 4, 4, -1, 9, 4, 5, 2, 10, 7, 6, 3, 10, 9])

1

### Question 5
    5. Google is launching a network of autonomous pizza delivery drones and wants you to create a flexible rewards system (Pizza Points™) that can be tweaked in the future. The rules are simple: if a customer has made at least N orders of at least Y price, they get a FREE pizza!

    Create a function that takes a dictionary of customers, a minimum number of orders and a minimum order price. Return a list of customers that are eligible for a free pizza.

    Examples

    customers = {
      "Batman": [22, 30, 11, 17, 15, 52, 27, 12],
      "Spider-Man": [5, 17, 30, 33, 40, 22, 26, 10, 11, 45]
    }

      pizza_points(customers, 5, 20) ➞ ["Spider-Man"]

      pizza_points(customers, 3, 10) ➞ ["Batman", "Spider-Man"]

      pizza_points(customers, 5, 100) ➞ []

In [20]:
def pizza_points(customers, minOrders, minPrice):
    
    new=[]
    for cust in customers:
        x=[i for i in customers[cust] if i>minPrice]
        if len(x)>=minOrders:
            new.append(cust)
    return new

In [21]:
customers = {
  "Batman": [22, 30, 11, 17, 15, 52, 27, 12],
  "Spider-Man": [5, 17, 30, 33, 40, 22, 26, 10, 11, 45]
}
pizza_points(customers, 5, 20)

['Spider-Man']

In [22]:
 pizza_points(customers, 3, 10)

['Batman', 'Spider-Man']

In [23]:
pizza_points(customers, 5, 100)

[]