## PythonAdvancedProgramming_14

### Question 1
    1. Given a list of numbers, create a function that removes 25% from every number in the list except the smallest number, and adds the total amount removed to the smallest number.

    Examples

    show_the_love([4, 1, 4]) ➞ [3, 3, 3]

    show_the_love([16, 10, 8]) ➞ [12, 7.5, 14.5]

    show_the_love([2, 100]) ➞ [27, 75]

In [3]:
def show_the_love(l):
    m= min(l)
    x= l.index(m)
    tf = 0
    for i in range(len(l)):
        if l[i] != m:
            tf=tf+l[i]*0.25
            l[i] = l[i]-(l[i]*0.25)
    l[x]=l[x]+tf
    return(l)

In [4]:
show_the_love([4, 1, 4])

[3.0, 3.0, 3.0]

In [5]:
show_the_love([16, 10, 8])

[12.0, 7.5, 14.5]

In [6]:
show_the_love([2, 100])

[27.0, 75.0]

### Question 2
    2. Create a function that takes in two words as input and returns a list of three elements, in the following order:

       1.Shared letters between two words.
       2.Letters unique to word 1.
       3.Letters unique to word 2.

    Each element should have unique letters, and have each letter be alphabetically sorted.

    Examples

    letters("sharp", "soap") ➞ ["aps", "hr", "o"]

    letters("board", "bored") ➞ ["bdor", "a", "e"]

    letters("happiness", "envelope") ➞ ["enp", "ahis", "lov"]

    letters("kerfuffle", "fluffy") ➞ ["flu", "ekr", "y"]

    #Even with multiple matching letters (e.g. 3 f's), there should 
     only exist a single "f" in your first element.

    letters("match", "ham") ➞ ["ahm", "ct", ""]

     "ham" does not contain any letters that are not found already 
     in "match".

In [10]:
def letters(l1,l2):
    l1=set(l1)
    l2=set(l2)
    l3=[]
    c=""
    for i in l1:
        if i in l2:
            c += i
    c= ''.join(sorted(c))
    a= ''.join(sorted(l1.difference(l2)))
    b= ''.join(sorted(l2.difference(l1)))
    l3.append(c)
    l3.append(a)
    l3.append(b)
    return(l3)

In [11]:
letters("sharp", "soap")

['aps', 'hr', 'o']

In [12]:
letters("board", "bored")

['bdor', 'a', 'e']

In [13]:
letters("happiness", "envelope")

['enp', 'ahis', 'lov']

In [14]:
letters("kerfuffle", "fluffy")

['flu', 'ekr', 'y']

In [15]:
letters("match", "ham")

['ahm', 'ct', '']

### Question 3
    3. Write a function that pairs the first number in an array with the last, the second number with the second to last, etc.

    Examples

    pairs([1, 2, 3, 4, 5, 6, 7]) ➞ [[1, 7], [2, 6], [3, 5], [4, 4]]

    pairs([1, 2, 3, 4, 5, 6]) ➞ [[1, 6], [2, 5], [3, 4]]

    pairs([5, 9, 8, 1, 2]) ➞ [[5, 2], [9, 1], [8, 8]]

    pairs([]) ➞ []

In [21]:
def pairs(l):
    r = l[::-1]
    a=[]
    n=[]
    i = 0
    if len(l) %2 == 0:
        length = int(len(l)/2)
    else:
        length = int(len(l)/2) +1
    while length:
        a.append(l[i])
        a.append(r[i])
        length = length -1
        i = i+1
    i=0
    while i<len(a):
        n.append(a[i:i+2])
        i+=2
    return n

In [22]:
pairs([1, 2, 3, 4, 5, 6, 7])

[[1, 7], [2, 6], [3, 5], [4, 4]]

In [23]:
pairs([1, 2, 3, 4, 5, 6])

[[1, 6], [2, 5], [3, 4]]

In [24]:
pairs([5, 9, 8, 1, 2])

[[5, 2], [9, 1], [8, 8]]

In [25]:
pairs([])

[]

### Question 4
    4. Write a function that adds two numbers. The catch, however, is that the numbers will be strings.

    Examples

    add_str_nums("4", "5") ➞ "9"

    add_str_nums("abcdefg", "3") ➞ "-1"

    add_str_nums("1", "") ➞ "1"

    add_str_nums("1874682736267235927359283579235789257", "32652983572985729") ➞ "1874682736267235927391936562808774986"

In [26]:
def add_str_nums(a,b):
        
    if not a:
        a="0"
    if not b:
        b="0"
    try:  
        return str(int(a)+int(b))
    except:
        return "-1"

In [27]:
add_str_nums("4", "5")

'9'

In [28]:
add_str_nums("abcdefg", "3")

'-1'

In [29]:
add_str_nums("1", "")

'1'

In [30]:
add_str_nums("1874682736267235927359283579235789257", "32652983572985729")

'1874682736267235927391936562808774986'

### Question 5

    5. lPaeesh le pemu mnxit ehess rtnisg! Oh, sorry, that was supposed to say: Please help me unmix these strings!

    Somehow my strings have all become mixed up; every pair of characters has been swapped. Help me undo this so I can understand my strings again.

    Examples

    unmix("123456") ➞ "214365"

    unmix("hTsii  s aimex dpus rtni.g") ➞ "This is a mixed up string."

    unmix("badce") ➞ "abcde"

In [31]:
def unmix(s):
    s=''.join([ s[x:x+2][::-1] for x in range(0, len(s), 2) ])
    return s

In [32]:
unmix("123456")

'214365'

In [33]:
unmix("hTsii  s aimex dpus rtni.g")

'This is a mixed up string.'

In [34]:
unmix("badce")

'abcde'